@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;700&display=swap');

:root {
  --font-base: 'Mulish', serif;

  --color-blue: #458FF6;
  --color-title: #000000;
  --color-text: #7D7987;
  --color-white: #ffffff;
}

*{
  box-sizing: border-box;
  font-family: var(--font-base);
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body{
  background: var(--color-white);
}

a{
  color: unset;
  text-decoration: none;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

